
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="Goes our logo here" width="24" height="19">
      <small class="d-block mb-3 text-muted">© 2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>FAQ</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">How to get started?</a></li>
        <li><a class="link-secondary" href="#">Lorem ipsum?</a></li>
        <li><a class="link-secondary" href="#">Lorem ipsum?</a></li>
        <li><a class="link-secondary" href="#">Lorem ipsum?</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">About us</a></li>
        <li><a class="link-secondary" href="#">Contact us</a></li>
        <li><a class="link-secondary" href="#">lorem ispum</a></li>
        <li><a class="link-secondary" href="#">lorem ipsum</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Terms and privacy</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Terms and privacy</a></li>
        <li><a class="link-secondary" href="#">lorem ipsum</a></li>
        <li><a class="link-secondary" href="#">lorem ipsium</a></li>
        <li><a class="link-secondary" href="#">lorem ispum</a></li>
      </ul>
    </div>
  </div>
</footer>
</main>